@import 'common.scss';

.p-show {
  .s-chart {
    margin: 48px 0;
    .s-chart-content {
      display: block;
      padding: 0 32px;
      @media screen and (max-width:414px){padding: 0;}
      .s-chart-wrap {
        padding: 0 12px;
        margin: 0 auto;
        max-width: 1152px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .s-chart-widget-container {
          background-color: #fff;
          margin: 0 0 24px;
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
          #top-header {
            border: 0;
            padding-top: 15px;
          }
          .chart-header-title {
            @include flex-space-between;
            font-family: 'Roboto','Heebo',Arial,sans-serif;
            width: 100%;
            padding-left: 24px;
            padding-right: 18px;
            border-bottom: 1px solid $widget-border-color;
            .title-content {
              white-space: nowrap;
              overflow-x: scroll;
              h1 {
                font-size: 19px;
                font-weight: 400;
                margin-right: 16px;
              }
              h2 {
                font-size: 16px;
                font-weight: 500;
                line-height: 56px;
              }
            }
            .title-content::-webkit-scrollbar {
              display: none;
            }
            .qr-icon {
              margin-left: auto;
              margin-right: 16px;
              color: #555;
            }
            .chart-menu {
              position: relative;
              cursor: pointer;
              padding: 0 5px;
              .chart-menu-dropdown {
                display: none;
                position: absolute;
                width: 120px;
                right: 0;
                z-index: 1;
                background-color: #fff;
                padding: 4px 0;
                border: 1px solid #ddd;
                border-radius: 3px;
                box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
                .menu-item {
                  display: block;
                  font-size: 14px;
                  font-weight: normal;
                  line-height: normal;
                  padding: 8px 16px;
                  color: #555;
                  &:hover {
                    background-color: #eee;
                  }
                }
              }
            }
            .chart-unit-text {
              color: #b3b3b3;
              font-size: 16px;
              margin-left: 16px;
            }
          }
          .chart-info {
            font-family: Arial,sans-serif;
            font-size: 13px;
            color: #555555;
            padding: 0 24px;
            padding-bottom: 15px;
            .info-item {
              display: inline-block;
            }
          }
          .chart-widget-wrapper {
            @include flex-space-around;
            flex-wrap: wrap;
            min-height: 336px;
            #review-error {
              @media screen and (max-width: 959px){
                display: none;
              }
            }
            .chart-review-comment {
              margin: 32px auto;
              margin-bottom: 8px;
              width: 100%;
              max-width: 500px;
              @media screen and (max-width: 959px){
                margin: 0 auto;
                margin-bottom: 8px;
              }
              padding: 0 21px;
              .customer-review-list {
                .review-list-item {
                  margin-bottom: 20px;
                  .customer {
                    height: 34px;
                    i {
                      font-size: 16px;
                      color: #999;
                      width: 30px;
                      height: 30px;
                      padding: 7px;
                      border-radius: 34px;
                      border: 1px solid #999;
                    }
                    span {
                      font-size: 13px;
                      @media screen and (max-width: 414px){font-size: 15px;}
                    }
                  }
                  .review-title {
                    span {
                      vertical-align: text-bottom;
                      font-size: 13px;
                    }
                  }
                  .review-date {
                    color: #555;
                    font-size: 13px;
                  }
                  .review-details {
                    overflow: hidden;
                    font-size: 13px;
                    @media screen and (max-width: 414px){font-size: 15px;}
                  }
                  .details-expander-in, .details-expander-out {
                    span {
                      font-size: 13px;
                    }
                  }
                }
              }
            }
            .widget-wrapper-content {
              width: 50%;
              @media screen and (max-width:959px){width: 100%;}
              .pie-chart {
                padding: 16px 0;
              }
              .relation-content {
                .relation-content-item {
                  @include flex-start;
                  font-size: 16px;
                  height: 56px;
                  line-height: 56px;
                  border-bottom: 1px solid $widget-border-color;
                  color: #000;
                  padding-left: 12px;
                  position: relative;
                  &:last-child {
                    border: none;
                  }
                  &:hover {
                    background-color: #eee;
                  }
                  .relation-item-name {
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.p-edit-chart {
  padding-top: 24px;
  padding-bottom: 104px;
  background-color: #fff;
  .e-content {
    max-width: 720px;
    margin: 0 auto;
    background-color: #fff;
    #about-qrcode {
      text-align: center;
      margin: 12px;
    }
    .e-detail {
      font-size: 16px;
      line-height: 1.6;
      margin: 0 10px;
      color: #555;
      span {
        font-weight: bold;
      }
      fieldset {
        margin: 24px 0;
        border: 2px solid #000;
        border-radius: 10px;
        legend {
          font-size: 1.17em;
          font-weight: bold;
          text-align: center;
        }
        p {
          margin: 8px 0;
        }
        a {
          font-weight: bold;
        }
      }
    }
    .share-sns {
      @include flex-center;
      .twitter-button {
        margin: 8px;
      }
      .facebook-button {
        margin: 8px;
      }
    }
    hr {
      margin: 20px 0;
      border: 0;
      border-top: 1px solid #eee;
    }
    .form_fields{
      padding: 16px;
      margin: 20px 10px;
      border: 2px solid #000;
      border-radius: 10px;
      font-size: 16px;
      legend {
        font-weight: bold;
        padding: 0 5px;
      }
    }
    .detail {
      @media screen and (max-width: 414px){ display: none; }
    }
    .field {
      margin-bottom: 15px;
      input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        margin-top: 5px;
        font-size: 16px;
        color: #4c4a40;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
      .text-count {
        text-align: right;
        color: #999;
      }
    }
    .actions {
      margin: 0 10px;
      input, a {
        display: block;
        width: 100%;
        max-width: 550px;
        height: 50px;
        margin: 0 auto;
        padding: 10px 12px;
        margin-top: 64px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background-color: $theme-color;
        border: none;
        border-radius: 25px;
        box-shadow: 0 5px 0 $dark-theme-color;
        cursor: pointer;
        &:hover {
          box-shadow: none;
          transform: translate3d(0, 5px, 0);
        }
      }
    }
    .qrcode {
      text-align: center;
      margin: 5vh 0;
      .qr-content {
        display: inline-block;
        max-width: 350px;
        padding: 20px;
        padding-top: 0;
        margin: 0 10px;
        h1 {
          padding: 16px 0;
          font-weight: bold;
          text-align: center;
        }
        a {
          color: #555;
        }
        img {
          width: 100%;
          border-radius: 20px;
          box-shadow: 0 0 5px 3px rgba(0,0,0,0.12);
        }
      }
    }
  }
}

.widget-error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0,0,0,0.54);
  font-size: 20px;
  line-height: 26px;
  height: 150px;
  margin: auto;
  padding: 10px;
  text-align: center;
  i {
    color: #e5e5e5;
    font-size: 80px;
  }
  p {
    margin: 8px 0;
  }
}

.chart-table {
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","HiraKakuPro","ＭＳ Ｐゴシック","MS PGothic",Osaka,sans-serif;
  padding: 16px;
  height: 336px;
  .table-content {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    @media screen and (max-width: 959px){
      .table-header { display: none; }
      .table-header-color { background-color: rgba(0,135,197, 0.2); }
      .table-header-col { width: 8%; }
    }
    tbody {
      vertical-align: top;
      th {
        padding: 10px 15px;
        white-space: nowrap;
        background-color: rgba(0,135,197, 0.2);
      }
      td {
        text-align: center;
        span {font-size: 13px;}
      }
      .table-header-color {
        span {
          font-size: 14px;
          font-weight: bold;
          writing-mode: vertical-rl;
          -ms-writing-mode:tb-rl;
          text-orientation: upright;
          white-space: nowrap;
          letter-spacing: 3px;
        }
      }
      th, td {
        border: 1px solid #ccc;
        border-width: 1px 0 0 1px;
        vertical-align: middle;
      }
    }
  }
}

#allergy_checkbox {
  margin-left: 10px;
}

#allergies_form {
  display: none;
}

#material-calc {
  display: block;
  width: 130px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $theme-color;
  padding: 5px;
  margin-left: auto;
  margin-right: 10px;
  border: 1px solid $theme-color;
  border-radius: 24px;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: $theme-color;
  }
}
