// import library
//@import 'font-awesome-sprockets';
//@import 'font-awesome';
@import 'cal-heatmap';

// Grobal variables
$theme-color: #0087C5;
$dark-theme-color: #005493;
$widget-border-color: #e0e0e0;
$hover-color: #f7f7f7;

@media screen and (max-width:414px){
  .st-header-search {
    display: none;
  }
  .st-header-rank {
    .fas {
      margin: 0;
    }
  }
  .rank-text {
    display: none;
  }
  .st-header-postButton {
    .fas {
      margin: 0;
    }
  }
  .post-text {
    display: none;
  }
  .p-post {
    padding: 0;
    .r-wrapper-tagButton {
      margin: 8px;
    }
  }
}

@media screen and (max-width: 959px){
  .paginate-empty {
    display: none;
  }
}

// Grobal mixin
@mixin flex-center {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
@mixin flex-space-between {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
@mixin flex-start {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: flex-start;
}
@mixin flex-space-around {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-around;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #337ab7;
  user-select: none;
}

input[type="submit"], input[type="button"], input[type="text"] {
  -webkit-appearance: none;
}

.mr-1 {
  margin-right: 8px;
}
.mr-2 {
  margin-right: 16px;
}

.px-1 {
  padding: 0 8px;
}
.px-2 {
  padding: 0 16px;
}

.icon-text-separator {
  @media screen and (max-width: 414px){ display: none; }
  margin: 0 16px;
  color: #ddd;
}

// kaminari custom css
.chart-paginate-content {
  @include flex-space-around;
  border-top: 1px solid $widget-border-color;
  min-height: 51px;
  .paginate-empty {
    width: 50%;
  }
  .pagination {
    @include flex-space-around;
    width: 50%;
    font-size: 16px;
    padding: 16px 0;
    span>a {
      text-decoration: none;
      color: #747474;
    }
  }
}

// progress style
.progress-value {
  color: #b3b3b3;
  font-size: 14px;
  min-width: 25px;
  margin-left: 16px;
}
.progress-bar-content {
  min-width: 100px;
  background-color: #ddd;
  margin-right: 32px;
  margin-left: 16px;
  .progress-bar {
    max-width: 100px;
    height: 14px;
    background-color: #3366cc;
  }
}

// incremental search style
.incremental-search {
  display: none;
  .incremental-wrapper {
    margin: 0 auto;
    width: 100%;
    position: relative;
    .incremental-content {
      position: absolute;
      padding: 0;
      padding-bottom: 16px;
      margin: 0;
      width: 100%;
      background-color: #fff;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
      border: 1px solid $widget-border-color;
      border-top: 0;
      z-index: 1;
      .incremental-item {
        display: block;
        color: #000;
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
          background-color: #eeeeee;
        }
      }
      .incremental-error {
        display: block;
        color: #ccc;
        text-align: center;
        padding: 8px 16px;
      }
    }
  }
}

body {
  font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
  font-size: 1.4rem;
  color: #333;
  background-color: #f7f7f7;
  .st-header {
    padding: 0 16px;
    background-color: $theme-color;
    color: #fff;
    .st-header-container {
      @include flex-space-between;
      height: 56px;
      max-width: 1100px;
      margin: 0 auto;
      .st-header-start {
        @include flex-center;
        .st-header-logo {
          display: inline-block;
          width: auto;
          height: 22.5px;
          margin-right: 32px;
        }
        .st-header-search {
          width: 200px;
          position: relative;
          .st-search-form {
            position: relative;
            width: 100%;
            > .fas {
              position: absolute;
              top: 9px;
              left: 9px;
              color: #aaa;
            }
            .st-form-searchModel {
              width: 100%;
              height: 32px;
              border: none;
              border-radius: 4px;
              background-color: #fff;
              font-size: 1.2rem;
              box-shadow: inset 0 1px 2px #ccc;
              padding-left: 32px;
              padding-right: 8px;
              -webkit-appearance: textfield;
            }
          }
        }
      }
      .st-header-end {
        @include flex-center;
        .st-header-rank {
          color: #fff;
          font-size: 1.2rem;
          line-height: 1;
        }
        .st-header-postButton {
          @include flex-center;
          height: 32px;
          background-color: $dark-theme-color;
          color: #fff;
          border-radius: 4px;
          font-size: 1.2rem;
          user-select: none;
          padding: 0 16px;
          .post-text {
            margin-left: 8px;
          }
        }
        .st-header-user {
          @include flex-center;
          position: relative;
          width: 32px;
          height: 32px;
          border-radius: 0.2em;
          background-color: #fff;
          color: $theme-color;
          font-size: 18px;
          cursor: pointer;
          .user-dropdown {
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
            z-index: 20;
            width: 200px;
            background-color: #fff;
            padding: 4px 0;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
            .user-dropdown-header {
              @include flex-space-between;
              font-size: 1.2rem;
              font-weight: bold;
              padding: 12px 16px;
              color: #555;
              border-bottom: 1px solid #ddd;
              margin-bottom: 4px;
            }
            .user-dropdown-item {
              display: block;
              font-size: 1.2rem;
              font-weight: normal;
              padding: 12px 16px;
              color: #555;
              cursor: pointer;
              &:hover {
                background-color: #eee;
              }
            }
          }
        }
        .st-header-signupButton {
          @include flex-center;
          height: 32px;
          color: #fff;
          border-radius: 4px;
          border: 2px solid #fff;
          font-size: 1.2rem;
          padding: 0 16px;
          margin-right: 16px;
          transition: background-color 0.08s ease-in-out;
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
        .st-header-loginLink {
          font-size: 1.2rem;
          color: #fff;
        }
      }
    }
  }

  .external-link {
    color: $theme-color;
    font-weight: bold;
  }

  .st-footer {
    background-color: #3e3e3e;
    padding: 32px 16px;
    color: #fff;
    .st-footer-container {
      max-width: 980px;
      height: 160px;
      margin: 0 auto;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      .st-footer-start {
        .st-footer-logo {
          width: auto;
          height: 36.5px;
        }
        .st-footer-entitle {
          font-size: 14px;
          margin-top: 16px;
        }
        .st-footer-socials {
          margin-top: 24px;
          > .fab {
            font-size: 18px;
            color: #b3b3b3;
          }
        }
      }
      .st-footer-end {
        .st-footer-label {
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 1.5em;
        }
        .st-footer-list {
          font-size: 14px;
          margin-top: -1.5em;
          .st-footer-column {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            > a {
              color: #b3b3b3;
              margin-top: 1em;
            }
          }
        }
      }
    }
    .st-footer-copyright {
      max-width: 980px;
      margin: 0 auto;
      color: #b3b3b3;
      font-size: 12px;
    }
  }
}

*,
::before, ::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

.alert {
  background-color: #FFEBE8;
  border: 2px solid #990000;
  padding: 12px;
  margin: 20px;
}

// markdown preview style
.preview-content::-webkit-scrollbar {
  display: none;
}
.preview-content {
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 336px;
  .md-text {
    padding: 16px 24px;
    padding-bottom: 40px;
    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 500px;
    }
    blockquote {
      border-left: 5px solid #ddd;
      padding: 8px 16px;
      padding-right: 0;
    }
    hr { border: 1px solid #ddd; }
    h1, h2, h3, h4, h5 {
      font-weight: bold;
      line-height: 1.5;
      padding-bottom: 0.1em;
      margin-top: 16px;
      margin-bottom: 24px;
    }
    h1, h2 {
      border-bottom: 1px solid #ddd;
    }
    p, ul, a {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.markdown-help {
  position: absolute;
  top: 10px;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 300px;
  padding: 10px 20px;
  color: #bbb;
  h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .markdown-help-block {
    float: left;
    width: 47%;
    margin-right: 3%;
    .markdown-help-item {
      margin-bottom: 12px;
      .markdown-help-header {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 700;
      }
      .markdown-help-content {
        font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
        background-color: #f6f6f6;
        padding: 8px;
        border-radius: 4px;
        overflow: auto;
      }
    }
  }
}

.news {
  max-width: 720px;
  margin: 16px auto;
  .covid-19-news {
    display: block;
    padding: 16px;
    margin: 0 24px;
    border: 1px solid $widget-border-color;
    border-radius: 3px;
    color: #586069;
    h3 {
      margin-bottom: 5px;
    }
    &:hover {
      background-color: $hover-color;
    }
  }
}

.flex-50 {
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: 50%;
  max-height: 100%;
  padding: 0 12px;
  margin: 0 0 24px;
  box-sizing: border-box;
  @media screen and (max-width: 959px) {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0;
  }
}
.flex-100 {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0 12px;
  margin: 0 0 24px;
  box-sizing: border-box;
  @media screen and (max-width: 959px) {
    padding: 0;
  }
}

.none {
  display: none;
}

.select-btn {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 44px;
  padding: 8px 12px;
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  background-color: #eee;
  border: 1px solid #ccc;
  box-shadow: 0 2px 0 #ddd;
  i { float: right; }
  &:hover {
    box-shadow: none;
    transform: translate3d(0, 2px, 0);
  }
}
.incremental-dropdown {
  display: none;
  .incremental-wrapper {
    margin: 0 auto;
    width: 100%;
    position: relative;
    .incremental-content {
      position: absolute;
      padding: 0;
      padding-bottom: 16px;
      margin: 0;
      width: 100%;
      height: 230px;
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
      border: 1px solid #e0e0e0;
      border-top: 0;
      z-index: 20;
      div {
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

.position-relative {
  position: relative;
}

.modal-window {
  display: none;
  position: relative;
  @media screen and (min-width: 959px){
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .modal-bg {
    @media screen and (max-width: 959px){ display: none; }
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }
  .modal-content {
    @media screen and (min-width: 959px){
      position: absolute;
      top: 50%;
      left: 50%;
      width: 460px;
      height: 570px;
      transform: translate(-50%,-50%);
    }
    @media screen and (max-width: 959px) {
      position: relative;
      width: 100%;
      height: 100%;
    }
    padding: 10px;
    border: 5px solid $theme-color;
    border-radius: 5px;
    background-color: #fff;
    .close-btn {
      position: absolute;
      top: -16px;
      right: -16px;
      @media screen and (max-width: 959px) {
        top: 5px;
        right: 5px;
      }
      width: 32px;
      height: 32px;
      padding: 6px;
      font-size: 16px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
    }
    .modal-title {
      line-height: 34px;
      text-align: center;
      color: $dark-theme-color;
      font-weight: 600;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }
    .list-header {
      max-width: 350px;
      width: 100%;
      color: $dark-theme-color;
      font-weight: 600;
      margin: 8px auto;
      margin-top: 16px;
      .name, .quantity {
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 0 5px;
        border-radius: 5px;
        background-color: rgba(0,135,197, 0.1);
      }
    }
    @media screen and (min-width: 959px){
      .material-list::-webkit-scrollbar {
        display: none;
      }
    }
    .material-list {
      max-width: 350px;
      width: 100%;
      margin: 8px auto;
      @media screen and (min-width: 959px){
        height: 70%;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      .material-list-item {
        margin: 16px 0;
        .line-name, .line-quantity {
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          color: #4c4a40;
          border: 1px solid #ccc;
          padding: 0 8px;
          font-size: 16px;
          border-radius: 5px;
        }
        .delete {
          display: inline-block;
          width: 24px;
          height: 24px;
          font-size: 14px;
          text-align: center;
          color: #fff;
          padding: 4px;
          margin-left: 5px;
          background-color: #ccc;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
    .name {
      display: inline-block;
      width: 55%;
      margin: 0 5px;
    }
    .quantity {
      display: inline-block;
      width: 28%;
      margin: 0 5px;
    }
    .modal-footer {
      @include flex-space-around;
      @media screen and (min-width: 959px){
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
      }
      padding: 16px 0;
      margin-top: 16px;
      border-top: 1px solid #ccc;
      background-color: #fff;
      .footer-btn {
        padding: 8px;
        font-size: 12px;
        color: #41484c;
        text-align: center;
        min-width: 60px;
        line-height: 1.9;
        background-color: #ccc;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
