@import 'common.scss';

.p-rank {
  padding: 0 64px;
  @media screen and (max-width:414px){
    padding: 0;
  }
  .r-content {
    margin: 0 auto;
    max-width: 1152px;
    .refine-forms {
      margin: 24px 8px;
      padding: 16px;
      border: 1px solid #ddd;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
      .refine-title {
        font-weight: bold;
        font-size: 14px;
      }
      form {
        @include flex-space-between;
        flex-wrap: wrap;
        margin: 16px 8px;
        .refine-item {
          width: 400px;
          margin: 16px 0;
          &:last-child {
            width: 200px;
            @media screen and (max-width: 414px){ width: 100%; }
          }
          .item-group {
            @include flex-space-between;
            p {
              width: 25%;
              color: #555;
            }
            .select-form {
              width: 100%;
            }
          }
          .refine-form {
            display: block;
            width: 100%;
            height: 44px;
            padding: 8px 12px;
            margin: 8px 0;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
          }
          .reset-btn {
            width: 100%;
            height: 44px;
            padding: 8px 12px;
            margin: 8px 0;
            text-align: center;
            color: $theme-color;
            font-weight: bold;
            border: 1px solid $theme-color;
            border-radius: 3px;
            background-color: #fff;
            cursor: pointer;
            &:hover {
              background-color: rgba(0,135,197, 0.2);
            }
          }
          .search-btn {
            width: 100%;
            height: 44px;
            padding: 8px 12px;
            margin-top: 8px;
            color: #fff;
            font-weight: bold;
            border: 0;
            border-radius: 3px;
            background-color: $theme-color;
            cursor: pointer;
            &:hover {
              background-color: $dark-theme-color;
            }
          }
        }
      }
    }
    .r-widget-wrap {
      margin: 1px auto;
      color: #000;
      .r-widget-content {
        height: 110px;
        margin: 12px 8px;
        padding: 16px 24px;
        font-size: 16px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
        border-radius: 3px;
        @include flex-center;
        &:hover {
          background-color: $hover-color;
        }
        .index {
          color: #757575;
          margin-right: 24px;
          font-size: 23px;
        }
        .details {
          width: 100%;
          line-height: 30px;
          font-size: 2.3rem;
        }
      }
    }
  }
}
