div.p-mailer style="background-color: #f7f7f7;"
  div.mailer-content style="\
    max-width: 680px;\
    margin: 0 auto;\
    background-color: #fff;
    "
    div.mailer-text style="padding: 16px 32px; height: 550px;"
      h2 style="\
      text-align: center;\
      border-bottom: 1px solid #ddd;\
      padding-bottom: 16px;\
      " アカウントの凍結解除

      p #{@resource.email} 様

      p ログインの試みが過度に失敗したため、アカウントがロックされました。

      p アカウントロックを解除するため、下記のボタンより解除を完了させてください。

      p = link_to 'アカウントロックを解除する', unlock_url(@resource, unlock_token: @token),\
      style: "\
      display: block;\
      text-decoration: none;\
      text-align: center;\
      padding: 16px 12px;\
      margin: 64px 0;\
      font-size: 14px;\
      color: #fff;\
      background-color: #0087C5;\
      border-radius: 3px;\
      cursor: pointer;\
      "

      p もし本メールにお心当たりがない場合は、お手数ですが本メールを削除してください。

    div.mailer-footer style="\
      background-color: #3e3e3e;\
      padding: 16px 32px;\
      color: #fff;\
    "
      |お問い合わせ：
      = link_to "https://twitter.com/ketosearch", "https://twitter.com/ketosearch", target: "_blank",\
      style: "text-decoration: none; color: #fff;"
